@-webkit-keyframes getcrossedpos {
  45% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    top: 33%;
  }
  50% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    top: 45%;
  }
  100% {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 45%;
  }
}
@keyframes getcrossedpos {
  45% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    top: 33%;
  }
  50% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    top: 45%;
  }
  100% {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 45%;
  }
}
@-webkit-keyframes straightenpos {
  0% {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 45%;
  }
  55% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    top: 33%;
  }
  100% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    top: 33%;
  }
}
@keyframes straightenpos {
  0% {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 45%;
  }
  55% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    top: 33%;
  }
  100% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    top: 33%;
  }
}
@-webkit-keyframes getcrossedneg {
  45% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    top: 60%;
  }
  50% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    top: 45%;
  }
  100% {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 45%;
  }
}
@keyframes getcrossedneg {
  45% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    top: 60%;
  }
  50% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    top: 45%;
  }
  100% {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 45%;
  }
}


@font-face {
  font-family: sans-serif;
  
  font-weight: normal;
  font-style: normal;
}


body { background-color: #022121;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;

}
.titre1{
  font-size: 2rem;
  color:orange; 
}
h2{
  font-size: 3rem;

}
h4{
  color: #7d7e7d;
}
h3{
  color:#00ff04;
  font-size: 2rem;
}
.clrgray{
  height: 5px;
  width: 76%;
  margin-left: 13%;
  background: lightgray;
}
.thumbnail{
  width: 580px;
}
.ss-icon {
  font-family: "SSSocialCircle";
  text-decoration: none;
  text-rendering: optimizeLegibility;
  -ms-font-feature-settings: "liga" 1;
  -o-font-feature-settings: "liga";
  -webkit-font-feature-settings: "liga";
  font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
  
}
.fa{
  margin-top: 14px;

}

nav {
  position: absolute;
  left: 45%;
  top: 40%;
  width: 7rem;
  height: 7rem;
  z-index: initial;
  line-height: 7rem;
  border-radius: 50%;
  -webkit-transition: .3s;
  transition: .3s;
  background: black; 
  background: -webkit-radial-gradient(circle, orange, white, white); 
  background: -o-radial-gradient(circle, orange, white, white); 
  background: -moz-radial-gradient(circle,orange, white, white); 
  background: radial-gradient(circle,rgba(125,126,125,1), rgba(125,126,125,1),white);
  outline: none;
}

nav:hover, nav:focus {
  background:radial-gradient(circle, rgba(125,126,125,1),white , rgba(125,126,125,1));
}
nav:before, nav:after, nav > span {
  position: absolute;
  left: 27%;
  display: block;
  width: 46%;
  top: 33%;
  height: 8%;
  background: #fff;
  -webkit-transform-origin: center;
  transform-origin: center;
  -webkit-transition: .5s;
  transition: .5s;
}
nav span {
  top: 46%;
}
nav:after {
  top: 60%;
}
nav.clicked:before {
  -webkit-animation: getcrossedpos .6s forwards;
  animation: getcrossedpos .6s forwards;
}
nav.clicked:after {
  -webkit-animation: getcrossedneg .6s forwards;
  animation: getcrossedneg .6s forwards;
}
nav.clicked span#center-bar {
  opacity: 0;
}
nav:hover {
  cursor: pointer;
}
nav.clicked {
  background: radial-gradient(circle,white,rgba(125,126,125,1), rgba(125,126,125,1));
  outline: none;
}
nav a {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background: rgb(216, 255, 214);
  text-align: center;
  line-height: 1.5;
  color: white;
  text-decoration: none;
  position: absolute;
  font-size: 3.2rem;
  text-align: center;
  left: 1rem;
  top: 1rem;
  -webkit-transition: .4s;
  transition: .4s;
  z-index: -1;
  opacity: 0.4;
}
nav a:hover, nav a:focus {
  background: white;
  opacity: 0.9;


  nav a:nth-child(0) {
   
    -webkit-transform: rotate(-72deg);
    transform: rotate(-72deg);

  }
}
nav.clicked a:nth-child(0) {
  -webkit-transform: rotate(-72deg) translateX(8rem) rotate(--72deg);
  transform: rotate(-72deg) translateX(8rem) rotate(--72deg);

}
nav a:nth-child(1) {
  
  background:radial-gradient(circle,white, rgba(156, 112, 19,0.2),rgba(156, 112, 19,1));
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}
nav.clicked a:nth-child(1) {
  -webkit-transform: rotate(0deg) translateX(8rem) rotate(-0deg);
  transform: rotate(0deg) translateX(8rem) rotate(-0deg);
}
nav a:nth-child(2) {
   background:radial-gradient(circle,white, rgba(10, 191, 7,0.2),rgba(10, 191, 7,1));
  -webkit-transform: rotate(74deg);
  transform: rotate(74deg);
}
nav.clicked a:nth-child(2) {
  -webkit-transform: rotate(74deg) translateX(8rem) rotate(-72deg);
  transform: rotate(74deg) translateX(8rem) rotate(-72deg);
}

nav a:nth-child(3) {
  background:radial-gradient(circle,white, rgba(6, 85, 150,0.2),rgba(6, 85, 150,1));
  -webkit-transform: rotate(144deg);
  transform: rotate(144deg);
}
nav.clicked a:nth-child(3) {
  -webkit-transform: rotate(144deg) translateX(8rem) rotate(-144deg);
  transform: rotate(144deg) translateX(8rem) rotate(-144deg);
}
nav a:nth-child(4) {
   background:radial-gradient(circle,white, rgba(147, 6, 160,0.2),rgba(147, 6, 160,1));
  -webkit-transform: rotate(216deg);
  transform: rotate(216deg);
}
nav.clicked a:nth-child(4) {
  -webkit-transform: rotate(216deg) translateX(8rem) rotate(-216deg);
  transform: rotate(216deg) translateX(8rem) rotate(-216deg);
}
nav a:nth-child(5) {
   /*background: #ff1a00;*/
   background:radial-gradient(circle, white, rgba(194, 112, 112,0.5), rgba(194, 112, 112,1));
  -webkit-transform: rotate(288deg);
  transform: rotate(288deg);
}
nav.clicked a:nth-child(5) {
  -webkit-transform: rotate(288deg) translateX(8rem) rotate(-288deg);
  transform: rotate(288deg) translateX(8rem) rotate(-288deg);
}



.wrapper {

  position: absolute;
  left: 50%;
  top: 41%;
  width: 1px;
  height: 200px;
}

.el {
  position: absolute;
  opacity: 1;
  width: 1px;
  height: 14vh;
  margin-top: -12vh;
  transform-origin: 50% 100%;
  background: white;
  z-index: -5;
}
}
.blue, .green{
  width: 2rem;
  height: 2rem;
  margin: .5rem;
  background-color: black;
}

@media all and (max-width: 767px) {
  nav {
    position: absolute;
    left: inherit;
  }
  
}
  

@media  all and (min-device-width : 768px) 
and (max-device-width : 1024px) {
  nav {
    position: absolute;
    left: inherit;
  }
  .wrapper {
      top: 92px;
  }
.el{
  height: 8vh;
}
}


@media  all and (max-device-width : 1366px) and (min-device-width : 1023px) 
 {
  nav {
    position: absolute;
    left: inherit;
  }
  .wrapper {
      top: 129px;
  }
.el{
  height: 6vh;
}
}

@media  all and (min-device-width : 767px) 
and (max-device-width : 1024px)  and (orientation: landscape){
  nav {
    position: absolute;
    left: inherit;
  }
  .wrapper {
      top: 80px;
  }
.el{
  height: 9vh;
}
}
.git, .cv, .cfdt, .blog{
  display:none; 
}
@media  all  and (min-width : 1366px){
    .el{
       height: 14vh;
    }
    .wrapper {
      top: 55px;
  }
}